<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Success</title>
</head>
<body>
	<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>

	<div class='container'>
	<h1>{{session['username']}}: your password "{{session['password']}}" meets all the requirements!</h1>
	</div>
</body>
</html>